<strong>Olá, {{ student.name }}</strong>
<p>Você está matrículado na Gympoint! Confira os detalhes do seu plano abaixo:</p>

<p>
  <strong>Plano: </strong> {{ plan.title }} <br />
  <strong>Duração em meses:</strong> {{ plan.duration }} <br />
  <strong>Início:</strong> {{ start }} <br />
  <strong>Término:</strong> {{ end }} <br />
  <br />
  <small>
    Qualquer dúvida, entre em contato pelo nosso app.
  </small>
</p>
